@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Inter:wght@100&family=Open+Sans&display=swap');

:root {
  --primary-color: #003366;
  --secondary-color: #FF9F10;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --border-radius: 5px;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', inter;
  box-sizing: border-box;
  color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100px;
  text-align: center;
}

.search-top {
  width: 100%; /* A barra de pesquisa ocupa 100% da largura do seu contêiner pai */
  max-width: 800px;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.search-top::placeholder {
  color: #000; 
  font-size: 12px;
}

.form {
  position: relative;
  left: -10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label {
  font-size: 12px;
  color: #fff;
  position: relative;
  left: 15px;
}

.form select {
  margin-left: 20px;
  color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.form select,
.form select option {
  color: #ffffff; 
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: calc(33.33% - 40px);
  max-width: 250px;
  margin: 20px;
  text-align: left;
  font-size: 12px;
  padding: 15px;
  border-radius: 5px;
  background-color: aqua;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex: 1 1 100%; 
}

.product-item img {
  width: 100%;
  height: 160px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.image-container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button {
  color: #000;
  font-weight: bold;
}

@media (max-width: 767px) {
  .search-top {
    width: 100%;
    max-width: 300px; /* Ajuste a largura máxima conforme necessário */
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 10px;
    border: none; /* Remova a borda para uma aparência mais limpa */
    border-radius: 10px;
  }

  .form {
    position: static;
    margin-top: 10px;
    text-align: center;
    justify-content: flex-end; /* Adicione esta linha para centralizar os itens */
  }

  .rank option,
  .form select {
    font-size: 10px; /* Tamanho da fonte reduzido para 10 pixels */ /* Ajuste o preenchimento conforme necessário */
    width: 30%;
     /* Defina a largura como 100% para ocupar o contêiner pai */
  }

  .product-item {
    width: calc(50% - 20px);
    max-width: 200px;
    margin: 10px; /* Reduzi a margem para 10px para um espaçamento mais compacto */
    font-size: 10px; /* Reduzi o tamanho da fonte para 10 pixels */
  }
}

@media (min-width: 768px) {
  .form {
    right: 0;
  }

  .search-top {
    height: 30px;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 15px;
  }

  .rank option,
  .form select {
    font-size: 10px;
    padding: 8px;
  }

  .product-item {
    width: calc(25% - 40px);
    max-width: 200px;
    margin: 20px;
    font-size: 14px;
  }
}